body{
    background-color: rgb(10, 14, 23);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}
.info{
    border: 10px solid #101010;
    height: 10vmin;
}
#board {
    display: grid;
    font-size: 60px;
    grid-template-columns: repeat(8, 12vmin);
    grid-template-rows: repeat(8, 10vmin);
    width: fit-content;
    height: max-content;
    margin: 5vmin auto;
    padding: 5px; /* Space for border effect */
    border: 3px solid transparent;
    border-image: linear-gradient(135deg, rgb(100, 255, 218), rgb(0, 170, 255)) 1;
}


.white{
    background-color: #f0d9b5;
    height: 10vmin;
    width: 12vmin;
    border: 1px solid #101010;

}
.black{
    background-color: #b58863;
    height: 10vmin;
    width: 12vmin;
    border: 1px solid #101010;
}
.cell {
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
    cursor: pointer;
}
.cell:hover {
    //background-color: #53aedd;
    background-color: #5ddf42;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.checkmate{
    background-color: #ff0000;
}

.logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #64ffda, #0af, #a78bfa);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(90deg, #64ffda, #0af, #a78bfa);
    transition: width 0.5s ease-in-out;
}

.logo:hover::after {
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
